html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  padding-inline: 50px;
  background-color: black;
}

.navbar__logo {
  width: 50px;
}

.navbar__menu {
  display: flex;
  padding: 0;
  list-style: none;
}

.navbar__menu li {
  margin-inline-start: 27px;
}

.navbar__menu li:first-child {
  margin-inline-start: 0px;
}

.navbar__menu a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.navbar__menu__item-bold {
  font-weight: 600;
}

.hero-image {
  width: 100%;
  height: 493px;
  object-fit: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.categories {
  margin-top: 64px;
}

.categories__title {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  width: 100%;
  padding: 64px 0;
}

.categories__grid__item {
  width: 100%;
  height: auto;
}

.categories__grid__item img {
  width: 100%;
}

.categories__grid__item .btn {
  margin-top: 24px;
}

.new-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  width: 100%;
  margin-block: 64px;
  border-block: 1px solid #e7e7e7;
  padding-block: 77px;
}

.new-section img {
  width: 100%;
}

.new-section__body {
  text-align: center;
}

.new-section__body__title {
  margin-block-end: 24px;
}

.new-section__body__title h3 {
  margin-block-end: 16px;
  font-weight: 400;
}

.new-section__body__title p {
  opacity: 50%;
}

.new-section__body__desc {
  margin-block-end: 24px;
}

.new-section__body__tag {
  opacity: 50%;
  font-size: 10px;
}

.new-section__body__btn {
  margin-block: 24px !important;
}

.btn {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 12px 24px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: black;
  cursor: pointer;
}

.btn.--expanded {
  width: 100%;
}

.btn.--border {
  display: inline-block;
  margin-block-start: 4px;
  color: black;
  border: 1px solid #1c1b1b;
  background: transparent;
}

.btn.--border:disabled {
  opacity: 0.5;
  cursor: initial;
}

.btn.--border:first-child {
  margin-inline-end: 16px;
}

.link {
  color: black;
}

.color-select {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-block-start: 4px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.color-select.silver {
  margin-inline-end: 16px;
  background-image: linear-gradient(231.91deg, #9e9e9e 27.13%, #e4e4e4 80.75%);
  background-color: #c4c4c4;
}
.color-select.golden {
  background-image: linear-gradient(312.66deg, #efd48a 43.37%, #bf9740 70.06%);
  background-color: #d6b05e;
}

.shop-accessories {
  margin-block: 40px;
}

.shop-accessories__title {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.shop-accessories__card-grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin-block: 64px;
}

.card-accessory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-accessory img {
  width: 100%;
}

.card-accessory__body {
  margin-block: 16px;
  text-align: center;
}

.card-accessory__body__title {
  margin-block-end: 8px;
  font-size: 13px;
}

.card-accessory__body__price {
  font-size: 13px;
  opacity: 0.5;
}

.video-section {
  display: grid;
  place-items: center;
  margin-block: 120px;
}

.video-section img {
  width: 100%;
  max-width: 720px;
}

.blog-section {
  padding-block-end: 64px;
  margin-block-end: 64px;
}

.blog-section h3 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.blog-section__posts-container {
  padding-block: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  gap: 32px;
}

.post {
  position: relative;
  width: 370px;
}

.post__title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.post img {
  width: 100%;
}
